/* line 1, ../scss/contact.scss */
#contact {
  background: url("http://anchors.3pixel.hu/img/stardust.png") center bottom;
  height: 100%;
  padding: 40px 0;
  box-sizing: border-box;
  text-align: center;
}

/* line 8, ../scss/contact.scss */
input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: #1b1b1b;
  color: white;
  border: 2px solid #252525;
  height: 45px;
  font-size: 16px;
  box-sizing: border-box;
}

/* line 27, ../scss/contact.scss */
input:focus {
  border: 2px solid #bc9033;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 33, ../scss/contact.scss */
.row {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 500px) {
  /* line 33, ../scss/contact.scss */
  .row {
    width: 80%;
  }
}
@media (min-width: 800px) {
  /* line 33, ../scss/contact.scss */
  .row {
    width: 66.666666%;
  }
}

/* line 45, ../scss/contact.scss */
.button {
  margin: 30px 0;
  cursor: pointer;
}

/* line 49, ../scss/contact.scss */
.formGroup {
  left: 0;
  right: 0;
  position: relative;
  width: 95%;
  margin: auto;
  padding-bottom: 8px;
}
@media (min-width: 500px) {
  /* line 49, ../scss/contact.scss */
  .formGroup {
    width: 85%;
  }
}
@media (min-width: 800px) {
  /* line 49, ../scss/contact.scss */
  .formGroup {
    width: 70%;
  }
}

/* line 63, ../scss/contact.scss */
#contact:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -5.5px;
}

/* line 70, ../scss/contact.scss */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  color: #49525c;
}

/* line 82, ../scss/contact.scss */
.details2 {
  color: #49525c;
  font-size: 0.9em;
}

/* line 86, ../scss/contact.scss */
.details {
  color: #ffffff;
  font-size: 0.9em;
}
