/* line 1, ../scss/team.scss */
team-member {
  display: inline-block;
  font-size: 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 550px) {
  /* line 1, ../scss/team.scss */
  team-member {
    width: 50%;
  }
}
@media (min-width: 850px) {
  /* line 1, ../scss/team.scss */
  team-member {
    width: 33%;
  }
}

/* line 14, ../scss/team.scss */
:host {
  font-size: 0;
}
