.menuIcon{
  fill: white;
  display: block;
  @media (min-width:1400px){
    display: none;
  }
}
.content{
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .intro{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin-right: -5.5px;
    }
    &>div{
      display: inline-block;
      vertical-align: middle;
    }
  }
}
section{
  padding: 60px 0;
}
.row{
  @media (max-width: 840px){
    height: 100%;
    padding: 0px;
  }
    padding: 0 110px;
    margin: auto;
}
h1{
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #5d9cec;
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}
.intro{
  background: url("../img/hero.jpg");
  text-align: center;
  padding: 60px 0 70px;
  h1{
    text-transform: none;
    font-weight: normal;
    color: white;
    font-size: 3.5em;
    margin: 0.35em 0 1.2em;
    -webkit-text-stroke: 1px white;
  }

}
.moreInfo{
   text-decoration: none;
   border: 1px solid white;
   color: white;
   background-color: transparent;
   border-radius: 0px;
   text-transform: uppercase;
   font-weight: 400;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   padding: 10px 16px;
   font-size: 18px;
   line-height: 1.33;
   &:hover{
     border: 1px solid #f1c410;
     outline: 0;
     color: black;
     background-color: #f1c410;
   }
 }
#about{
  background: url("../img/stardust.png");
  .row>div{
    margin-left: 16.66%;
    width: 66.66%;
  }
  .about-text {
    font-size: 32px;
    font-weight: 200;
    margin: 0 0 35px;
    text-align: center;
    line-height: 1.6;
  }
}