#contact{
  background: url("http://anchors.3pixel.hu/img/stardust.png") center bottom;
  height: 100%;
  padding: 40px 0;
  box-sizing: border-box;
  text-align: center;
}
input{
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: #1b1b1b;
  color: white;
  border: 2px solid #252525;
  height: 45px;
  font-size: 16px;
  box-sizing: border-box;
}
input:focus{
  border: 2px solid #bc9033;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.row{
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  @media(min-width: 500px){
    width: 80%;
  }
  @media(min-width: 800px){
    width: 66.666666%;
  }
}
.button{
  margin: 30px 0;
  cursor: pointer;
}
.formGroup{
  left: 0;
  right: 0;
  position: relative;
  width: 95%;
  margin: auto;
  padding-bottom: 8px;
  @media(min-width: 500px){
    width: 85%;
  }
  @media(min-width: 800px){
    width: 70%;
  }
}
#contact:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -5.5px;
}
.label{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  color: #49525c
}
.details2{
  color: #49525c;
  font-size: 0.9em;
}
.details{
  color: #ffffff;
  font-size: 0.9em;
}