section{
  background: #ffffff;

}
img{
  padding: 20px 0;
}
.row{
  font-size: 0;
  padding-bottom: 100px;
  padding-top: 80px;
  background: url('http://anchors.3pixel.hu/img/stardust.png') center bottom;
  color: white;
  line-height: 1.7;
  @media (max-width: 600px){
    text-align: center;
  }
}
.row-element{
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.width-50{
  width: 50%;
  @media (max-width: 600px){
    width: 80%;
    text-align: left;
    margin: 30px 0;
    p{
      max-width: 100%;
    }
  }
}
.width-25{
  width: 25%;
  @media (max-width: 600px){
    width: 80%;
    text-align: left;
    margin: 30px 0;
  }
}
h3{
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5d9cec;
  font-size: 1.1em;
  line-height: 1.1;
}
p{
  max-width: 80%;
}
.imgWrapper{
  text-align: center;
}
.titleWrapper{
  background: #343434;
  margin-bottom: 70px;
  text-align: left;
  position: fixed;
  top: 64px;
  left: 256px;
  right: 0;
  height: 80px;
  @media (max-width: 1400px){
    left: 0
  }
}
img{
  max-width: 100%;
  height: auto;
}
.titleWrapper:before{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
  margin-right: -5.5px;
}
.titleWrapper h1{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 5%;


}
.titleWrapper a{
  font-size: 18px;
  color: #829ebd;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  padding: 6px 0;
  height: 36px;
  margin: auto;
  box-sizing: border-box;
}
.titleWrapper a:hover{
  color: #f1c410;
  text-decoration: none;
}